# Secrets - do not commit
secrets.py
secrets.yaml

# Mosquitto Docker data - do not commit
mosquitto/data/
mosquitto/log/
mosquitto/config/mosquitto.passwd

# python virtual environments
venv
.venv

# Device state file - do not commit
flow_state.json
